name: CI/CD

on:
  push:
    branches:
  pull_request:
    branches:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x backend/gradlew

      - name: Build and Test with Gradle
        working-directory: backend
        run: ./gradlew build

  dummy-deploy:
    name: Dummy Continuous Deployment
    runs-on: ubuntu-latest
    needs: build-backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploying to Production
        run: |
          echo "CI Quality Check passed successfully!"
          echo "Simulating deployment to AWS/Production server..."
          echo "Application has been 'deployed' to dummy environment."